.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* ============================== MIN WIDTH ============================== */
@media (min-width:0px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media (min-width:567px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media (min-width:768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media (min-width:992px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media (min-width:1200px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media (min-width:1400px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/* ============================== MAX WIDTH ============================== */
@media (max-width:1400px) {}

@media (max-width:1200px) {}

@media (max-width:992px) {
    .hero {
        overflow: hidden;
    }

    .hero-left {
        padding: 100px 0 50px 0;
    }

    .hero-left h1 {
        font-size: 50px;
    }

    .hero-right {
        height: 500px;
        position: relative;
    }

    .hero-right .hero-image-element {
        position: absolute;
        top: 0;
        left: 0px;
        transform: scale(0.4);
    }

    .hero-right .hero-person-image {
        position: absolute;
        overflow: visible;
        right: 0;
    }

    .hero-right .hero-person-image img {
        transform: scale(1.2);
    }

    .offer-decs p {
        margin-bottom: 24px !important;
    }

    .social-links-right ul {
        top: 55%;
    }

    .about-cards {
        flex-direction: column-reverse;
    }
}

@media (max-width:768px) {
    
    .hero-right .hero-image-element img {
        display: none;
    }
    
    .work-filter-list ul {
        gap: 25px;
    }

    .hero-right .hero-person-image {
        top: 0 !important;
    }

    .footer-element01 {
        right: 0;
    }

    .blog-article-image {
        height: 300px !important;
    }

    .btn-solid,
    .btn-solid-round,
    .btn-outline {
        font-size: 16px;
        padding: 8px 16px;
    }

    .countdown-text-left p:nth-child(2) {
        font-size: 45px;
    }

    .countdown-text-left p:nth-child(1) {
        font-size: 30px;
    }
}

@media (max-width:567px) {
    .offcanvas-title img {
        width: 95px;
    }

    .work-project-image {
        height: 300px;
    }

    .scroll-top a i {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
    }

    .countdown-text-left p:nth-child(2) {
        font-size: 36px;
    }

    .countdown-text-left p:nth-child(1) {
        font-size: 28px;
    }
}